<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee32.zebra.oa.accnt.impl.AccountingEventMapper">

    <resultMap id="map1" type="com.bee32.zebra.oa.accnt.AccountingEvent" extends="message.map2">
        <result property="debitTotal" column="ndebit" />
        <result property="creditTotal" column="ncredit" />
    </resultMap>

    <sql id="select1"><![CDATA[
        select
            a.*, 
            op.label "op_label",
            form.label "form_label",
            cat.label "cat_label",
            phase.label "phase_label"
        from acdoc a
            left join "user" op on a.op=op.id
            left join form on a.form=form.id
            left join cat on a.cat=cat.id
            left join phase on a.phase=phase.id
        ]]>
    </sql>

    <select id="all" resultMap="map1">
        <include refid="select1" />
    </select>

    <select id="select" parameterType="int" resultMap="map1">
        <include refid="select1" />
        <where>
            <if test="_parameter != null">a.id=#{id}</if>
        </where>
    </select>

    <select id="insert" resultType="int">
        <![CDATA[
        insert into acdoc(code, label, description)
        values(#{codeName},#{label},#{description})
        returning id
    ]]></select>

    <update id="update">
        update acdoc
        <set>
            <include refid="co.setU" />
        </set>
        where id=#{id}
    </update>

    <delete id="delete">
        delete from acdoc where id=#{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "total" from acdoc
    </select>

</mapper>