<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee32.zebra.oa.accnt.impl.AccountingEventMapper">

    <resultMap id="Map_X" type="com.bee32.zebra.oa.accnt.AccountingEvent" extends="co.mapUS">
        <result property="debitTotal" column=""/>
        <result property="creditTotal" column=""/>
    </resultMap>

    <sql id="select_X"><![CDATA[
        select
            a.*
        from acdoc a
        ]]>
    </sql>

    <select id="all" resultMap="Map_X">
        <include refid="select_X" />
    </select>

    <select id="select" parameterType="int" resultMap="Map_X">
        <include refid="select_X" />
        <where>
            <if test="_parameter != null">a.id=#{id}</if>
        </where>
    </select>

    <select id="insert" resultType="int">
        <![CDATA[
        insert into acdoc(code, label, description)
        values(#{codeName},#{label},#{description})
        returning id
    ]]></select>

    <update id="update">
        update acdoc
        <set>
            <include refid="co.setU" />
        </set>
        where id=#{id}
    </update>

    <delete id="delete">
        delete from acdoc where id=#{id}
    </delete>
    
</mapper>