<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee32.zebra.io.sales.impl.SalesOrderMapper">

    <resultMap id="map1" type="com.bee32.zebra.io.sales.SalesOrder" extends="message.map2">
        <result property="itemCount" column="size" />
        <result property="quantity" column="qty" />
        <result property="total" column="total" />
        <association property="topic" javaType="com.bee32.zebra.oa.thread.Topic">
            <id property="id" column="topic" />
            <result property="label" column="topic_label" />
        </association>
        <association property="org" javaType="com.bee32.zebra.oa.contact.Organization">
            <id property="id" column="org" />
            <result property="label" column="org_label" />
        </association>
        <association property="person" javaType="com.bee32.zebra.oa.contact.Person">
            <id property="id" column="person" />
            <result property="label" column="person_label" />
        </association>
    </resultMap>

    <resultMap id="map2" type="com.bee32.zebra.io.sales.SalesOrder" extends="map1">
        <collection property="items" javaType="ArrayList" columnPrefix="y_"
            resultMap="com.bee32.zebra.io.sales.impl.SalesOrderItemMapper.map1">
        </collection>
        <collection property="deliveries" javaType="ArrayList" columnPrefix="d_"
            resultMap="com.bee32.zebra.io.sales.impl.DeliveryMapper.map1">
        </collection>
    </resultMap>

    <sql id="select1"><![CDATA[
        select
            a.*,
            u.label "uid_label",
            g.label "gid_label",
            cat.label "cat_label",
            phase.label "phase_label",
            topic.subject "topic_subject",
            org.label "org_label",
            person.label "person_label"
        from sdoc a
            left join "user" u on a.uid=u.id
            left join "group" g on a.gid=g.id
            left join cat on a.cat=cat.id
            left join phase on a.phase=phase.id
            left join topic on a.topic=topic.id
            left join org on a.org=org.id
            left join person on a.person=person.id
        ]]>
    </sql>

    <sql id="select2"><![CDATA[
        select
            a.*,
            u.label "uid_label",
            g.label "gid_label",
            cat.label "cat_label",
            phase.label "phase_label",
            topic.subject "topic_subject",
            org.label "org_label",
            person.label "person_label",
            
            y.id "y_id",
            y.priority "y_priority",
            y.flags "y_flags",
            y.state "y_state",
            y.t0 "y_t0",
            y.t1 "y_t1",
            y.art "y_art",
            y.olabel "y_olabel",
            y.ospec "y_ospec",
            y.qty "y_qty",
            y.price "y_price",
            y.comment "y_comment",
            y.footnote "y_footnote",
            art.label "y_art_label",
            
            d.id "d_id",
            d.state "d_state",
            d.t0 "d_t0",
            d.t1 "d_t1",
            d.op "d_op",
            d.subject "d_subject",
            d.text "d_text",
            d.form "d_form",
            d.args "d_args",
            d.cat "d_cat",
            d.phase "d_phase",
            d.shipdest "d_shipdest",
            d.shipper "d_shipper",
            d.shipment "d_shipment",
            d.shipcost "d_shipcost",
            d.qty "d_qty",
            d.total "d_total"
        from sdoc a
            left join "user" u on a.uid=u.id
            left join "group" g on a.gid=g.id
            left join cat on a.cat=cat.id
            left join phase on a.phase=phase.id
            left join topic on a.topic=topic.id
            left join org on a.org=org.id
            left join person on a.person=person.id
            left join sentry y on a.id=y.doc
            left join art on y.art=art.id
            left join dldoc d on a.id=d.sdoc
        ]]>
    </sql>

    <sql id="filtconds">
        <if test="topicId != null">and a.topic=#{topicId}</if>
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="map1">
        <include refid="select1" />
        <where>
            <include refid="co.modefilt" />
        </where>
    </select>

    <select id="filter" resultMap="map1">
        <include refid="select1" />
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="map2">
        <include refid="select2" />
        <where>
            <if test="_parameter != null">a.id=#{id}</if>
        </where>
    </select>

    <select id="insert" resultType="long">
        <![CDATA[
        insert into sdoc(
            priority, flags, state, uid, gid, mode, acl,
            t0, t1,
            op, subject, text, form, args, cat, phase,
            topic, org, person, qty, total
        ) values(
            #{priority}, #{flags}, #{state}, #{owner.id}, #{ownerGroup.id}, #{accessMode}, #{acl},
            #{beginDate}, #{endDate},
            #{op.id}, #{subject}, #{text}, #{form.id}, #{formArgs}, #{category.id}, #{phase.id},
            #{topic.id}, #{org.id}, #{person.id}, #{quantity}, #{total}
        ) returning id
    ]]></select>

    <update id="update">
        update sdoc
        <set>
            <include refid="message.set1" />
            <if test="topic != null">topic = #{topic.id},</if>
            <if test="org != null">org = #{org.id},</if>
            <if test="person != null">person = #{person.id},</if>
            qty = #{quantity},
            total = #{total},
        </set>
        <where>
            <if test="id != null">id=#{id}</if>
        </where>
    </update>

    <delete id="delete">
        delete from sdoc where id=#{id}
    </delete>

    <select id="count" resultType="hashmap">
        select
            (select count(*) from sdoc) "total",
            (select count(distinct sdoc) from dldoc) "delivered",
            (select count(*)
        from sdoc a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
        ) "filter";
    </select>

</mapper>
