Source: sdu-pgutils
Section: database
Priority: extra
Maintainer: 谢继雷 (99计算机) <xjl@99jsj.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://sdu.secca-project.com/sdu-pgutils

Package: sdu-pgutils
Architecture: all
Depends: postgresql | postgresql-8.4, perl
Description: PostgreSQL utilities
