# Common
*.tmp
*.swp
*.log
*.log.[0-9]*
*.bak
*.orig
*.lock
*~
*.out.xml
nohup.out

# Maven
target
*.versionBackup
*.releaseBackup
.m2*

# Scala
.scala_dependencies

# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.ipr
*.iws

# Misc
stats
SOURCES

/.pomdirs
RELEASE-NOTES

/sem/base/sem-people/doc/astah-models.asta.lock
