# Common
*.tmp
*.swp
*.log
*.log.[0-9]*
*.bak
*.orig
*~

# Maven
target
*.versionBackup
*.releaseBackup
.m2*

# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.ipr
*.iws

# Misc
stats

/.pomdirs
RELEASE-NOTES

/sem/base/sem-people/doc/astah-models.asta.lock
