Source: sdu-cred-ec2maint
Section: admin
Priority: extra
Maintainer: 谢继雷 (99计算机) <xjl@99jsj.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://sdu.secca-project.com/sdu-cred-ec2maint

Package: sdu-cred-ec2maint
Architecture: all
Depends: ${misc:Depends}, sdu-users
Description: Maintainer for ec2 nodes operation
