.attendance-calenda-table-header {
    border: 1px solid red;
    padding: 0px;
    margin: 0px;
    width: 20px;
    border-radius: 4px;
}

.calendarView-notavailable {
    background-color: #CECECE;
    border-radius: 7px;
}

.calendarView-available {
    cursor: pointer;
    background-color: #D0FFD0;
    border-radius: 7px;
    border: 2px solid green;
}

.a-m-types-c,.a-a-types-c,.a-e-types-c {
    cursor: pointer;
}

.a-types-icon {
    display: none;
}

.a-morning-i,.a-afternoon-i,.a-evening-i {
    width: 20px;
    height: 20px;
}

.a-morning,.a-afternoon,.a-evening {
    display: none;
}

.a-m-icon-i,.a-a-icon-i,.a-e-icon-i {
    width: 30px;
    height: 30px;
}

.selected-tr{
    height:30px;
}