Source: sdu-phppgadmin
Section: database
Priority: optional
Maintainer: 谢继雷 (99计算机) <xjl@99jsj.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://sdu.secca-project.com/sdu-phppgadmin

Package: sdu-phppgadmin
Architecture: all
Depends: apache2, php5, phppgadmin, configutils,
         sdu-site-maindev, sdu-cred-a2ssl
Description: PHP PostgreSQL Admin SDU
