Source: sdu-cred-semop
Section: admin
Priority: extra
Maintainer: 谢继雷 (99计算机) <xjl@99jsj.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://sdu.secca-project.com/sdu-cred-semop

Package: sdu-cred-semop
Architecture: any
Depends: sdu-semsutils, cls-users, mcrypt, cooltask, git-core
Description: SEM operator.
    SEM operator user account.
