.attendance-calenda-table-header {
    border: 1px solid red;
    padding: 0px;
    margin: 0px;
    width: 20px;
    font-size: 18px;
    border-radius: 4px;
}

.calendarView-notavailable {
    background-color: #CECECE;
    border-radius: 7px;
}

.calendarView-edit-available {
    cursor: pointer;
    background-color: #D0FFD0;
    border-radius: 7px;
    border: 2px solid green;
}

.a-m-icon-edit,.a-a-icon-edit,.a-e-icon-edit {
    width: 40px;
}

.a-m-value-edit,.a-a-value-edit,.a-e-value-edit {
    width: 20px;
}

.a-m-name-edit,.a-a-name-edit,.a-e-name-edit {
    width: 80px;
}

.a-m-types-edit,.a-a-types-edit,.a-e-types-edit {
    border-top: 1px solid;
}

.a-m-types-c-edit,.a-a-types-c-edit,.a-e-types-c-edit {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.calendar-view-day {
    width: 100%;
    height: 100%;
    z-index: -1;
    color: black;
    font-size: 25px;
}

.a-morning-i-edit,.a-afternoon-i-edit,.a-evening-i-edit {
    width: 20px;
    height: 20px;
}

.a-m-icon-i-edit,.a-a-icon-i-edit,.a-e-icon-i-edit {
    width: 28px;
    height: 28px;
}

.selected-tr {
    height: 30px;
}

.calendar-table {
    border: 1px solid;
    width: 480px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #FFF5E5;
}

.calendar-tab-header {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    width: 150px;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.s-info {
    width: 440px;
    height: 130px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: #E8FCFD;
    margin-botton: 4px;
}

.s-info-left {
    width: 30%;
}

.s-info-right {
    width: 70%;
}

.dayModel {
    width: 440px;
    height: 130px;
    border: 1px solid #D892D3;
    border-radius: 5px;
    background-color: #FFF2FF;
    margin-botton: 4px;
}

.dayModelLeft {
    border-right: 1px solid;
    border-top: 1px solid;
}

.dayModelRight {
    width: 90%;
}