Source: sdu-squidutils
Section: net
Priority: extra
Maintainer: 谢继雷 (99计算机) <xjl@99jsj.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.8.4
Homepage: http://sdu.secca-project.com/sdu-squidutils

Package: sdu-squidutils
Architecture: all
Depends: bash-shlib, squid
Description: Squid cache server utils
