Source: sdu-trac-suite
Section: python
Priority: extra
Maintainer: 谢继雷 (99计算机) <xjl@99jsj.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.8.4
Homepage: http://sdu.secca-project.com/sdu-trac-suite

Package: trac-ticketdepgraph
Architecture: all
Depends: trac-graphviz
Description: Trac Ticket Dependencies Graph plugin (SDU Redist)

Package: trac-ticketmodifiedfiles
Architecture: all
Depends: trac
Description: Trac Ticket Modified Files plugin (SDU Redist)

Package: trac-tickettemplate
Architecture: all
Depends: trac
Description: Trac Ticket Template plugin (SDU Redist)

Package: trac-ticketstats
Architecture: all
Depends: trac
Description: Trac Ticket Statistics plugin (SDU Redist)

Package: trac-tocmacro
Architecture: all
Depends: trac
Description: Trac TOC macro plugin (SDU Redist)

Package: sdu-trac-suite
Architecture: all
Depends: trac, sdu-tracutils
Recommends:
    trac-accountmanager,
    trac-authopenid,
    trac-bitten,
    trac-bzr,
    trac-customfieldadmin,
    trac-email2trac,
    trac-git,
    trac-graphviz,
    trac-icalviewplugin,
    trac-ja-resource,
    trac-mastertickets,
    trac-mercurial,
    trac-spamfilter,
    trac-wikiprint,
    trac-wikirename,
    trac-wikitablemacro,
    trac-wysiwyg,
    trac-xmlrpc
Description: Common Trac installation.
