*.log
*.swp

*.gz
*.bzip2

*.build
*.changes
*.deb
*.dsc
*.upload

COPYING
INSTALL

debian
libauto
itree.tex

Makefile
Makefile.in
aclocal.m4
config.status
configure
install-sh
missing
autom4te.cache

post-install.sh
pre-remove.sh
