*.build
*.bz2
*.changes
*.deb
*.dsc
*.gz
*.log
*.substvars
*.tmp
*.upload
*.xz
*.zip
*.orig/
*/*/debian/*.EX
*/*/debian/*.ex
*/*/debian/*/
*/*/debian/changelog
*/*/debian/compat
*/*/debian/copyright
*/*/debian/files
*/*/debian/rules
/stats/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
itree.tex
libauto
missing
post-install.sh
pre-remove.sh
