a {
    color: hsl(0, 100%, 50%);
}

.zu-id {
    color: gray;
}

.zu-info {
    background: hsl(45, 100%, 90%);
}

.zu-section {
    border-top-color: hsl(0, 0%, 93%);
    border-bottom-color: hsl(0, 0%, 93%);
}

.zu-section:nth-child(odd) {
    background-color: hsl(0, 0%, 98%);
}

.zu-section:hover {
    background-color: hsl(64, 100%, 97%);
}

.zu-section-head {
    border-right: solid 3px #e4e2d7;
}

.zu-section-head>.icon {
    color: hsl(44, 17%, 75%);
}

.zu-section:hover>.zu-section-head {
    border-right-color: #cec7a3;
}

.zu-section:hover>.zu-section-head>.icon {
    color: hsl(44, 55%, 50%);
}

#zp-links {
    color: hsl(30, 100%, 30%);
}

#zp-links a {
    color: hsl(30, 100%, 30%);
}

#zp-menu a {
    color: black;
}

#zp-menu-col {
    background: hsl(0, 100%, 90%);
}

#zp-stat {
    color: gray;
}