a {
    color: hsl(0, 100%, 50%);
}

a:focus {
    background: hsl(0, 100%, 97%);
}

.helpdoc {
    color: hsl(0, 0%, 25%);
    background: hsl(59, 100%, 92%);
    border-color: hsl(0, 0%, 50%);
}

a.helpdoc-switcher {
    color: gray;
}

a.helpdoc-switcher.active {
    color: hsl(27, 100%, 50%);
}

a.helpdoc-switcher:hover {
    color: red;
}

.itab {
    border-color: hsl(50, 20%, 85%);
}

.pie-label {
    color: white;
    text-align: center;
}

.zu-id {
    color: gray;
}

.zu-info {
    background: hsla(45, 100%, 90%, 0.5);
}

.zu-section {
    border-top-color: hsl(0, 0%, 93%);
    border-bottom-color: hsl(0, 0%, 93%);
}

.zu-section:nth-child(odd) {
    background: hsla(0, 0%, 98%, 0.5);
}

.zu-section:hover {
    background: hsla(64, 100%, 97%, 0.5);
}

.zu-section-head {
    border-right: solid 3px hsl(50, 20%, 85%);
}

.zu-section-head>.icon {
    color: hsl(44, 17%, 75%);
}

.zu-section:hover>.zu-section-head {
    border-right-color: #cec7a3;
}

.zu-section:hover>.zu-section-head>.icon {
    color: hsl(44, 55%, 50%);
}

#zp-links {
    color: hsl(30, 100%, 30%);
}

#zp-links a {
    color: hsl(30, 100%, 30%);
}

#zp-menu a {
    color: black;
}

#zp-menu-ul>li:hover {
    background: hsla(0, 100%, 80%, 0.5);
    border-radius: 5px;
}

#zp-menu-col {
    background: hsla(0, 100%, 90%, 0.5);
}

#zp-stat {
    color: gray;
}