body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-weight: normal;
    font-size: xx-large;
}

h1+.sub {
    font-size: small;
}

h2 {
    font-weight: normal;
    margin: 1em 0 0 0;
}

h3 {
    font-style: italic;
    font-size: inherit;
    margin: 0;
}

.container .table {
    display: table;
}

.container-row {
    display: table-row;
    height: 100%;
}

.container-row>div[class ^="col-"] {
    display: table-cell;
    float: none;
    vertical-align: top;
}

.zu-id {
    font-size: small;
    text-align: right;
}

.dataTables_wrapper {
    overflow: hidden;
}

.zu-layout {
    padding: 0;
    border-spacing: 0;
    border: none;
}

.zu-fgroup {
    text-align: left;
    line-height: 2em;
    font-size: large;
}

.zu-flabel {
    display: inline-block;
    width: 50%;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zu-null {
    font-size: small;
}

.zu-section {
    display: table;
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.zu-section + .zu-section {
    border-top: none;
}

.zu-section>* {
    display: table-cell;
    padding: .3em;
}

.zu-section-head {
    width: 8em;
    font-size: large;
    text-align: center;
    vertical-align: middle;
    border-right: solid 3px #e4e2d7;
}

.zu-section-head>.icon {
    font-size: 2.5em;
}

.zu-section:hover>.zu-section-head {
    font-weight: bold;
}

.zu-section:hover>.zu-section-head>.icon {
}

.zu-section-body {
    x-width: *;
}

.zu-switcher ul {
    margin: 0;
    padding: 0;
    display: inline;
}

.zu-switcher li {
    display: inline;
}

.zu-switcher .active {
    font-weight: bold; 
}

#zp-body1 {
    padding: 0;
}

#zp-body2 {
    padding: 0;
}

#zp-body3 {
    padding: 0;
}

#zp-content {
    padding: 1em;
}

#zp-extradata {
    display: none;
}

#zp-head {
    padding: 1em;
}

#zp-head-col {
    padding: 0;
}

#zp-infoman {
    list-style-type: square;
}

#zp-links {
    font-style: italic;
    font-size: small;
}

#zp-links ul {
    list-style-type: circle;
    padding-left: 2em;
    margin: 0;
}

#zp-logo {
    text-align: center;
    font-size: x-large;
    margin: 2em;
}

#zp-main-col {
    padding: 0;
}

#zp-menu>ul {
    font-size: large;
    padding-left: 1.5em;
    list-style-type: none;
    line-height: 1.2em;
}

#zp-menu>ul>li {
    font-style: italic;
    margin-top: 1em;
}

#zp-menu>ul>li>ul {
    font-size: small;
    padding-left: 1em;
    list-style-type: none;
}

#zp-menu a{
    font-style: normal;
}

#zp-menu-col {
    padding: 0;
}

#zp-menu-col>nav {
    margin: 1em 0;
}

.container>#zp-menu-col { /* fix: so as to disable float within container-table. */
    float: left;
}

#zp-menu-col>div {
    margin-bottom: 1em;
}

#zp-preview {
    margin: 2em 0 0;
}

#zp-preview>img {
    width: 100px;
    height: 100px;
}

#zp-right-col {
    padding: 1em;
}

form#zp-search {
    text-align: center;
    font-style: italic;
    font-size: small;
}

#zp-stat {
    font-size: small;
}

#zp-stat ul {
    list-style: none;
    padding-left: 0;
}

#zp-welcome {
    text-align: center;
    font-size: small;
    font-style: italic;
}