a {
    padding: 2px;
}

a:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    text-decoration: none;
}

a:focus {
    background: #fee;
}

body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-weight: normal;
    font-size: xx-large;
}

h1+.sub {
    font-size: small;
}

h2 {
    font-weight: normal;
    margin: 1em 0 0 0;
}

h3 {
    font-style: italic;
    font-size: inherit;
    margin: 0;
}

.container .table {
    display: table;
}

.container-row {
    display: table-row;
    height: 100%;
}

.container-row>div[class ^="col-"] {
    display: table-cell;
    float: none;
    vertical-align: top;
}

.dataTables_wrapper {
    overflow: hidden;
}

.field-groups {
    margin-left: 1em;
    overflow: auto;
    column-width: 30em;
    -webkit-column-width: 30em;
}

.field-groups>fieldset {
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
}

.node-chain {
    display: inline-block;
    list-style: none;
}

.selected td {
    background: hsl(35, 100%, 80%) !important;
}

.zu-detail {
    width: 90%;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: gray;
    margin-left: 2em;
}

.zu-detail .breadcrumb {
    background: none;
    border: 0;
    padding: 0;
    font-size: small;
    font-style: italic;
}

.zu-fgroup h2 {
    font-size: 1.5em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.zu-fcat h3 {
    font-size: 1.2em;
}

.zu-fcat+.zu-fcat {
    margin-top: 1em;
}

fieldset.zu-fcat legend {
    font-size: 1.2em;
    margin-bottom: 0;
}

.zu-flabel {
    display: inline-block;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
}

.zu-field .zu-flabel {
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: #eee;
    vertical-align: middle;
    margin-left: 2em;
    width: 8em;
}

.zu-field:hover .zu-flabel {
    border-left-color: black;
}

.zu-id {
    font-size: small;
    text-align: right;
}

.zu-layout {
    padding: 0;
    border-spacing: 0;
    border: none;
}

.zu-links>div {
    font-style: italic;
    font-size: small;
}

.zu-links>ul {
    list-style-type: circle;
    padding-left: 2em;
    margin: 0;
}

.zu-msg {
    font-size: large;
    width: 100%;
}

.zu-msg th {
    text-align: right;
    vertical-align: top;
    width: 5em;
}

.zu-msg input {
    width: 100%;
}

.zu-msg textarea {
    width: 100%;
    height: 14em;
}

.zu-null {
    font-size: small;
}

.zu-pickcmd {
    cursor: pointer;
}

.dialog iframe {
    width: 100%;
    height: 70%;
}

.zu-section {
    display: table;
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.zu-section+.zu-section {
    border-top: none;
}

.zu-section>* {
    display: table-cell;
    padding: .3em;
}

.zu-section-head {
    width: 8em;
    font-size: large;
    text-align: center;
    vertical-align: middle;
    border-right: solid 3px #e4e2d7;
}

.zu-section-head>.icon {
    font-size: 2.5em;
}

.zu-section:hover>.zu-section-head {
    font-weight: bold;
}

.zu-section:hover>.zu-section-head>.icon {
    
}

.zu-section-body {
    x-width: *;
}

.zu-switcher ul {
    margin: 0;
    padding: 0;
    display: inline;
}

.zu-switcher li {
    display: inline;
}

.zu-switcher .active {
    font-weight: bold;
}

.zu-template {
    display: none;
}

.zu-w10 {
    width: 10%;
}

.zu-w20 {
    width: 20%;
}

.zu-w30 {
    width: 30%;
}

.zu-w50 {
    width: 50%;
}

.zu-nvote {
    display: inline-block;
    font-family: fantasy;
    font-size: 32px;
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
    margin-right: .25em;
    text-align: center;
    padding: 0 .5em;
}

.zu-author {
    text-align: right;
    font-style: italic;
}

#zp-body1 {
    padding: 0;
}

#zp-body2 {
    padding: 0;
}

#zp-body3 {
    padding: 0;
}

#zp-content {
    padding: 1em;
}

#zp-extradata {
    display: none;
}

#zp-head {
    padding: 1em;
}

#zp-head-col {
    padding: 0;
}

#zp-infoman {
    list-style-type: square;
}

#zp-logo {
    text-align: center;
    font-size: x-large;
    margin: 2em;
}

#zp-main-col {
    padding: 0;
}

#zp-menu>ul {
    font-size: large;
    padding-left: 1.5em;
    list-style-type: none;
    line-height: 1.2em;
}

#zp-menu>ul>li {
    font-style: italic;
    margin-top: 1em;
}

#zp-menu>ul>li>ul {
    font-size: small;
    padding-left: 1em;
    list-style-type: none;
}

#zp-menu a {
    font-style: normal;
}

#zp-menu-col {
    padding: 0;
}

#zp-menu-col>nav {
    margin: 1em 0;
}

.container>#zp-menu-col { /* fix: so as to disable float within container-table. */
    float: left;
}

#zp-menu-col>div {
    margin-bottom: 1em;
}

#zp-preview {
    margin: 2em 0 0;
    height: 100px;
    font-size: 2em;
}

#zp-preview>div {
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}

#zp-preview>img {
    width: 100px;
    height: 100px;
}

#zp-right-col {
    padding: 1em;
}

form#zp-search {
    text-align: center;
    font-style: italic;
    font-size: small;
}

#zp-stat {
    font-size: small;
}

#zp-stat ul {
    list-style: none;
    padding-left: 0;
}

#zp-welcome {
    text-align: center;
    font-size: small;
    font-style: italic;
}