a {
    padding: 2px;
}

a:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: "Droid Sans", sans-serif;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

h1 {
    font-weight: normal;
    font-size: xx-large;
}

h1+.sub {
    font-size: small;
}

h2 {
    font-weight: normal;
    margin: 1em 0 0 0;
}

h3 {
    font-style: italic;
    font-size: inherit;
    margin: 0;
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    opacity: 0.75;
    z-index: -100;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.container .table {
    display: table;
}

.container-row {
    display: table-row;
    height: 100%;
}

.container-row>div[class ^="col-"] {
    display: table-cell;
    float: none;
    vertical-align: top;
}

.dataTables_wrapper {
    overflow: hidden;
}

.dialog {
    width: 32px;
    height: 32px;
}

.dialog iframe {
    width: 100%;
    height: 70%;
}

.field-groups {
    margin-left: 1em;
    overflow: auto;
    column-width: 30em;
    -moz-column-width: 30em;
    -webkit-column-width: 30em;
}

.field-groups>fieldset {
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
}

.helpdoc {
    display: none;
    font-style: italic;
    margin-left: 10em;
    margin-bottom: 1em;
    padding: 0.5em;
    border-style: dotted;
    border-width: 1px;
}

a.helpdoc-switcher {
    cursor: pointer;
}

a.helpdoc-switcher:hover {
    border: none;
}

.itab {
    -webkit-user-select: text;
    user-select: text;
    padding: 0.5em 0;
    border-top-style: solid;
    border-top-width: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
}

.magic td {
    vertical-align: top;
}

.magic img {
    max-width: 64px;
    margin: 0 16px;
}

.magic td, .magic th {
    text-align: center;
}

.node-chain {
    display: inline-block;
    list-style: none;
}

.plot {
}
.plot .data {
    display: none;
}

.print {
    display: none;
}

.selected td {
    background: hsl(35, 100%, 80%) !important;
}

.toggle>.ui-button-text {
    padding: .2em .5em;
}

.toggle1 {background;gray;
    border: solid 1px black;
    border-radius: 6px;
    color: black;
    cursor: pointer;
}

.toggle1.on {
    background: black;
    color: white;
}

.zu-author {
    text-align: right;
    font-style: italic;
}

.zu-calendar {
    border: solid 3px hsl(25, 90%, 80%);
    background-color: hsl(18, 100%, 90%);
    border-collapse: collapse;
}

.zu-calendar>tbody>tr:nth-child(odd) {
    background-color: hsl(45, 100%, 93%);
}

.zu-calendar>tbody>tr:nth-child(even) {
    background-color: hsl(60, 100%, 93%);
}

.zu-calendar td {
    border: solid 1px hsl(25, 90%, 80%);
    width: 3em;
    height: 3em;
    text-align: center;
    vertical-align: middle;
}

.zu-calendar td.active {
    background-color: hsl(14, 100%, 70%);
    color: white;
    font-weight: bold;
}

.zu-calendar td.log {
    color: black;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
}

.zu-calendar td.placeholder {
    background-color: hsl(18, 100%, 90%);
}

.zu-calendar td.selected {
    background-color: hsl(216, 100%, 70%);
    color: white;
    font-weight: bold;
}

.zu-calendar td.trivial {
    color: gray;
    font-style: italic;
}

.zu-calendar th {
    padding: 3px;
    text-align: center;
}

.zu-detail {
    width: 90%;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: gray;
    margin-left: 2em;
}

.zu-detail .breadcrumb {
    background: none;
    border: 0;
    padding: 0;
    font-size: small;
    font-style: italic;
}

.zu-fgroup h2 {
    font-size: 1.5em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.zu-fcat h3 {
    font-size: 1.2em;
}

.zu-fcat+.zu-fcat {
    margin-top: 1em;
}

fieldset.zu-fcat legend {
    font-size: 1.2em;
    margin-bottom: 0;
}

.zu-flabel {
    display: inline-block;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
}

.zu-field .zu-flabel {
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: #eee;
    vertical-align: middle;
    margin-left: 2em;
    width: 8em;
}

.zu-field:hover .zu-flabel {
    border-left-color: black;
}

.zu-footcopy {
    font-style: italic;
    padding: .5em;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), gray );
}

.zu-footnav {
    
}

.zu-footnav a {
    color: hsl(0, 0%, 40%);
}

.zu-footnav a:hover {
    color: hsl(0, 0%, 20%);
    font-weight: bold;
}

.zu-footnav a>i {
    color: hsl(0, 0%, 80%);
    text-align: right;
    width: 1em;
}

.zu-footnav a:hover>i {
    color: hsl(200, 100%, 60%);
}

.zu-footnav b {
    color: hsl(0, 0%, 30%);
}

.zu-footnav table {
    min-width: 50em;
    width: 75%;
}

.zu-footnav td {
    padding: .5em;
    vertical-align: top;
}

.zu-footnav td:nth-child(even) {
    background-color: hsl(0, 0%, 92%);
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: hsl(0, 0%, 80%);
}

.zu-footnav ul {
    padding-left: 1em;
}

.zu-footnav ul>li {
    list-style-type: none;
}

.zu-id {
    font-size: small;
    text-align: right;
}

.zu-layout {
    padding: 0;
    border-spacing: 0;
    border: none;
}

.zu-leg {
    display: none;
    font-size: large;
    line-height: 2em;
}

.zu-leg>li:nth-child(odd) {
    background-color: hsl(65, 100%, 98%);
}

.zu-leg>li:nth-child(even) {
    background-color: hsl(205, 100%, 98%);
}

.zu-legs .breadcrumb {
    display: inline;
    padding: 0 8px;
}

.zu-legs .date {
    color: hsl(0, 0%, 60%);
    font-style: italic;
}

.zu-legs .msg {
    color: black;
}

.zu-legs .op {
    color: gray;
    font-style: italic;
}

.zu-legs .refid {
    background-color: hsl(18, 100%, 70%);
    color: white;
    font-weight: bold;
    padding: 2px 5px;
}

.zu-links>div {
    font-style: italic;
    font-size: small;
}

.zu-links>ul {
    list-style-type: circle;
    padding-left: 2em;
    margin: 0;
}

.zu-msg {
    font-size: large;
    width: 100%;
}

.zu-msg th {
    text-align: right;
    vertical-align: top;
    width: 5em;
}

.zu-msg input {
    width: 100%;
}

.zu-msg textarea {
    width: 100%;
    height: 14em;
}

.zu-nvote {
    display: inline-block;
    font-family: fantasy;
    font-size: 32px;
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
    margin-right: .25em;
    text-align: center;
    padding: 0 .5em;
}

.zu-null {
    font-size: small;
}

.zu-pickcmd {
    cursor: pointer;
}

.zu-section {
    display: table;
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.zu-section+.zu-section {
    border-top: none;
}

.zu-section>* {
    display: table-cell;
    padding: .3em;
}

.zu-section-head {
    width: 8em;
    min-width: 8em;
    font-size: large;
    text-align: center;
    vertical-align: top;
    border-right: solid 3px #e4e2d7;
}

.zu-section-head>.icon {
    font-size: 2.5em;
}

.zu-section:hover>.zu-section-head {
    font-weight: bold;
}

.zu-section:hover>.zu-section-head>.icon {
    
}

.zu-section-body {
    x-width: *;
}

.zu-switcher ul {
    margin: 0;
    padding: 0;
    display: inline;
}

.zu-switcher li {
    display: inline;
}

.zu-switcher .active {
    font-weight: bold;
}

.zu-template {
    display: none;
}

.zu-w10 {
    width: 10%;
}

.zu-w20 {
    width: 20%;
}

.zu-w30 {
    width: 30%;
}

.zu-w50 {
    width: 50%;
}

#zp-body1 {
    padding: 0;
}

#zp-body2 {
    padding: 0;
}

#zp-body3 {
    padding: 0;
}

#zp-content {
    padding: 1em;
}

#zp-extradata {
    display: none;
}

#zp-foot {
    background: hsl(0, 0%, 95%);
    font-family: 仿宋;
}

#zp-foot {
    border-top-style: solid;
    border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0) ) 100% 0 0 0;
    border-width: 8px 0 0 0;
}

#zp-head {
    padding: 1em;
}

#zp-head-col {
    padding: 0;
}

#zp-infoman {
    list-style-type: square;
}

#zp-logo {
    text-align: center;
    font-size: x-large;
    margin: 1em;
}

#zp-main-col {
    padding: 0;
}

#zp-menu>ul {
    font-size: large;
    padding-left: 1.5em;
    list-style-type: none;
    line-height: 1.2em;
}

#zp-menu>ul>li {
    font-style: italic;
    margin-top: 1em;
}

#zp-menu>ul>li>ul {
    font-size: small;
    padding-left: 1em;
    list-style-type: none;
}

#zp-menu a {
    font-style: normal;
}

#zp-menu-col {
    padding: 0;
}

#zp-menu-col>nav {
    margin: 1em 0;
}

.container>#zp-menu-col { /* fix: so as to disable float within container-table. */
    float: left;
}

#zp-menu-col>div {
    margin-bottom: 1em;
}

#zp-preview {
    margin: 2em 0 0;
    height: 100px;
    font-size: 2em;
}

#zp-preview>div {
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}

#zp-preview>img {
    width: 100px;
    height: 100px;
}

#zp-qrchere {
    margin: 1em 0;
}

#zp-right-col {
    padding: 1em;
}

form#zp-search {
    text-align: center;
    font-style: italic;
    font-size: small;
}

#zp-stat {
    font-size: small;
}

#zp-stat ul {
    list-style: none;
    padding-left: 0;
}

#zp-welcome {
    text-align: center;
    font-size: small;
    font-style: italic;
}