<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee32.zebra.oa.thread.impl.ReplyMapper">

    <resultMap id="map2" type="com.bee32.zebra.oa.thread.Reply" extends="message.MAP_ALL">
        <association property="topic" javaType="com.bee32.zebra.oa.thread.Topic">
            <id property="id" column="topic" />
            <result property="subject" column="topic_subject" />
        </association>
        <collection property="parties" javaType="ArrayList" ofType="com.bee32.zebra.oa.contact.Person">
            <id property="id" column="party" />
            <result property="label" column="party_label" />
        </collection>
    </resultMap>

    <sql id="select2"><![CDATA[
        select
            a.*,
            topic.subject "topic_subject",
            op.label "op_label",
            c.label "cat_label",
            p.label "phase_label",
            u.label "uid_label",
            g.label "gid_label",
            y.id "party",
            y.label "party_label"
        from reply a
            left join topic on a.topic=topic.id
            left join "user" op on a.op=op.id
            left join _cat c on a.cat=c.id
            left join _phase p on a.phase=p.id
            left join "user" u on a.uid=u.id
            left join "group" g on a.gid=g.id
            left join replyparty x on a.id=x.reply
            left join person y on x.person=y.id
        ]]>
    </sql>

    <sql id="filtconds">
        <!-- co -->
        <include refid="co.modefilt" />
        <if test="m.timeRange != null">and a.lastmod between #{m.timeRange.min, jdbcType=DATE} and #{m.timeRange.max, jdbcType=DATE}</if>
        <!-- moment-interval -->
        <if test="m.dateRange != null">and a.t0 between #{m.dateRange.min, jdbcType=DATE} and #{m.dateRange.max, jdbcType=DATE}</if>
        <if test="m.year != null">and extract(year from a.t0)=#{m.year}</if>
        <if test="m.noDate">and a.t0 is null</if>
        <if test="m.noYear">and a.t0 is null</if>
        <!-- message -->
        <if test="m.opId != null">and a.op=#{m.opId}</if>
        <if test="m.categoryId != null">and a.cat=#{m.categoryId}</if>
        <if test="m.phaseId != null">and a.phase=#{m.phaseId}</if>
        <if test="m.voteCountRange != null">and a.nvote between #{m.voteCountRange.min} and #{m.voteCountRange.max}</if>
        <if test="m.likerCountRange != null">and a.nlike between #{m.likerCountRange.min} and #{m.likerCountRange.max}</if>
        <if test="m.readCountRange != null">and a.nread between #{m.readCountRange.min} and #{m.readCountRange.max}</if>
        <if test="m.noOp">and a.op is null</if>
        <if test="m.noCategory">and a.cat is null</if>
        <if test="m.noPhase">and a.phase is null</if>
        
        <if test="m.topicId != null">and a.topic=#{m.topicId}</if>
        <if test="m.parentId != null">and a.parent=#{m.parentId}</if>
        <!-- <if test="m.partyId != null">and a.party=#{m.partyId}</if> -->
        <if test="m.tagId != null">and x.tag=#{m.tagId}</if>
        <if test="m.noTag">and x.tag is null</if>
    </sql>

    <select id="all" resultMap="map2">
        <include refid="select2" />
        <where>
            <include refid="co.modefilt" />
        </where>
    </select>

    <select id="filter" resultMap="map2">
        <include refid="select2" />
        <!-- left join tags -->
        <where>
            <include refid="filtconds" />
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="map2">
        <include refid="select2" />
        <where>
            <if test="_parameter != null">a.id=#{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into reply(
            priority, flags, state, uid, gid, mode, acl,
            t0, t1,
            op, text, cat, phase,
            topic, parent
        ) values(
            #{priority}, #{flags}, #{state}, #{owner.id}, #{ownerGroup.id}, #{accessMode}, #{acl},
            #{beginDate}, #{endDate},
            #{op.id}, #{text}, #{category.id}, #{phase.id},
            #{topic.id}, #{parent.id}
        ) returning id
    ]]></insert>

    <update id="update">
        update reply
        <set>
            <include refid="message.set1u" />
            text = #{text},
            <if test="topic != null">topic=#{topic.id},</if>
            <if test="parent != null">parent=#{parent.id},</if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete">
        delete from reply where id=#{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "total" from reply a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

</mapper>
