<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee32.zebra.oa.thread.impl.TopicMapper">

    <resultMap id="map1" type="com.bee32.zebra.oa.thread.Topic" extends="message.map2">
        <result property="value" column="val" />
    </resultMap>

    <resultMap id="map2" type="com.bee32.zebra.oa.thread.Topic" extends="map1">
        <collection property="parties" javaType="ArrayList" ofType="com.bee32.zebra.oa.thread.TopicParty"
            columnPrefix="tp_">
            <id property="id" column="id" />
            <result property="label" column="label" />
            <result property="description" column="description" />
            <association property="person" javaType="com.bee32.zebra.oa.contact.Person">
                <id property="id" column="person" />
                <result property="label" column="person_label" />
            </association>
            <association property="org" javaType="com.bee32.zebra.oa.contact.Organization">
                <id property="id" column="org" />
                <result property="label" column="org_label" />
            </association>
        </collection>
        <collection property="tags" javaType="ArrayList" ofType="net.bodz.lily.model.base.schema.TagDef">
            <id property="id" column="tt_tag" />
            <result property="label" column="tt_tag_label" />
        </collection>
    </resultMap>

    <sql id="select1"><![CDATA[
        select
            a.*,
            u.label "uid_label",
            g.label "gid_label",
            c.label "cat_label",
            p.label "phase_label",
            op.label "op_label"
        from topic a
            left join "user" u on a.uid=u.id
            left join "group" g on a.gid=g.id
            left join _cat c on a.cat=c.id
            left join _phase p on a.phase=p.id
            left join "user" op on a.op=op.id
        ]]>
    </sql>

    <sql id="select2"><![CDATA[
        select
            a.*,
            u.label "uid_label",
            g.label "gid_label",
            c.label "cat_label",
            p.label "phase_label",
            op.label "op_label",
            tp.id "tp_id",
            tp.person "tp_person",
            tp.org "tp_org",
            tp.description "tp_description",
            person.label "tp_person_label",
            org.label "tp_org_label",
            tt.tag "tt_tag",
            _tag.label "tt_tag_label"
        from topic a
            left join "user" u on a.uid=u.id
            left join "group" g on a.gid=g.id
            left join _cat c on a.cat=c.id
            left join _phase p on a.phase=p.id
            left join "user" op on a.op=op.id
            left join topicparty tp on a.id=tp.topic
            left join person on tp.person=person.id
            left join org on tp.org=org.id
            left join topictag tt on a.id=tt.topic
            left join _tag on tt.tag=_tag.id
        ]]>
    </sql>

    <sql id="filtconds">
        <if test="valueRange != null">and a.value between #{valueRange.min} and #{valueRange.max}</if>
        <!-- co -->
        <if test="timeRange != null">and a.lastmod between #{timeRange.min, jdbcType=DATE} and #{timeRange.max, jdbcType=DATE}</if>
        <!-- moment-interval -->
        <if test="dateRange != null">and a.t0 between #{dateRange.min, jdbcType=DATE} and #{dateRange.max, jdbcType=DATE}</if>
        <if test="year != null">and extract(year from a.t0)=#{year}</if>
        <if test="noDate">and a.t0 is null</if>
        <if test="noYear">and a.t0 is null</if>
        <!-- message -->
        <if test="opId != null">and a.op=#{opId}</if>
        <if test="categoryId != null">and a.cat=#{categoryId}</if>
        <if test="phaseId != null">and a.phase=#{phaseId}</if>
        <if test="voteCountRange != null">and a.nvote between #{voteCountRange.min} and #{voteCountRange.max}</if>
        <if test="likerCountRange != null">and a.nlike between #{likerCountRange.min} and #{likerCountRange.max}</if>
        <if test="readCountRange != null">and a.nread between #{readCountRange.min} and #{readCountRange.max}</if>
        <if test="noOp">and a.op is null</if>
        <if test="noCategory">and a.cat is null</if>
        <if test="noPhase">and a.phase is null</if>
        <include refid="co.modefilt" />
    </sql>

    <select id="all" resultMap="map1">
        <include refid="select1" />
        <where>
            <include refid="co.modefilt" />
        </where>
    </select>

    <select id="filter" resultMap="map1">
        <include refid="select1" />
        <!-- left join tags -->
        <where>
            <include refid="filtconds" />
            <if test="tagId != null">and x.tag=#{tagId}</if>
            <if test="noTag">and x.tag is null</if>
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="map2">
        <include refid="select2" />
        <where>
            <if test="_parameter != null">a.id=#{id}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into topic(
            priority, flags, state, uid, gid, mode, acl,
            t0, t1,
            op, subject, text, form, args, cat, phase,
            val
        ) values(
            #{priority}, #{flags}, #{state}, #{owner.id}, #{ownerGroup.id}, #{accessMode}, #{acl},
            #{beginDate}, #{endDate},
            #{op.id}, #{subject}, #{text}, #{form.id}, #{formArgs}, #{category.id}, #{phase.id},
            #{value}
        ) returning id
    ]]></insert>

    <update id="update">
        update topic
        <set>
            <include refid="message.set1" />
            val = #{value},
        </set>
        <where>
            <if test="id != null">id = #{id}</if>
        </where>
    </update>

    <delete id="delete">
        delete from topic where id = #{id}
    </delete>

    <select id="count" resultType="hashmap">
        select count(*) "total" from topic a
        <where>
            <if test="_parameter != null">
                <include refid="filtconds" />
            </if>
        </where>
    </select>

    <select id="histoByYear" resultType="com.bee32.zebra.tk.util.F_YearCount"><![CDATA[
        select
            extract(year from t0)::int "year", 
            count(*) "count"
        from topic
        group by extract(year from t0)::int
    ]]></select>

    <select id="replyCount" resultType="int">
        select count(*) from reply where topic=#{id}
    </select>

    <resultMap id="distribMap" type="com.bee32.zebra.tk.stat.ValueDistrib">
        <result property="value" column="val" />
        <result property="valueLabel" column="label" />
        <result property="count" column="count" />
        <result property="sum1" column="sum_1" />
        <result property="sum2" column="sum_2" />
    </resultMap>

    <select id="catDistrib" resultMap="distribMap"><![CDATA[
        select
            a.cat "val",
            _cat.label,
            "count",
            valsum
        from
            (select cat, count(*) "count", sum(val) "valsum"
                from topic group by cat) a
            left join _cat on a.cat=_cat.id
    ]]></select>

    <select id="phaseDistrib" resultMap="distribMap"><![CDATA[
        select
            a.phase "val",
            _phase.label,
            "count",
            valsum
        from
            (select phase, count(*) "count", sum(val) "valsum"
                from topic group by phase) a
            left join _phase on a.phase=_phase.id
    ]]></select>

</mapper>
