Source: sdu-site-seccaci
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <sdu-bugs@secca-project.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://sdc.secca-project.com/sdu-site-seccaci

Package: sdu-site-seccaci
Architecture: all
Depends: ${misc:Depends}, sdu-continuum
Description: Stack CI over Continuum.
