<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee32.zebra.io.stock.impl.PlaceMapper">

    <resultMap id="map1" type="com.bee32.zebra.io.stock.Place" extends="co.mapUSA">
        <id column="id" />
        <result property="usage" column="usage" />
        <result property="bbox.dx" column="dx" />
        <result property="bbox.dy" column="dy" />
        <result property="bbox.dz" column="dz" />
        <association property="party" javaType="com.bee32.zebra.oa.contact.Person">
            <id property="id" column="vip" />
            <result property="label" column="vip_label" />
        </association>
        <association property="partyOrg" javaType="com.bee32.zebra.oa.contact.Organization">
            <id property="id" column="vip_org" />
            <result property="label" column="vip_org_label" />
        </association>
    </resultMap>

    <sql id="select1"><![CDATA[
        select
            a.*,
            p.label "vip_label",
            o.label "vip_org_label",
            u.label "uid_label",
            g.label "gid_label"
        from place a
            left join "person" p on a.vip=p.id
            left join "org" o on a.vip_org=o.id
            left join "user" u on a.uid=u.id
            left join "group" g on a.gid=g.id
        ]]>
    </sql>

    <sql id="select2"><![CDATA[
        select
            a.*,
            p.label "vip_label",
            o.label "vip_org_label",
            u.label "uid_label",
            g.label "gid_label"
        from place a
            left join "person" p on a.vip=p.id
            left join "org" o on a.vip_org=o.id
            left join "user" u on a.uid=u.id
            left join "group" g on a.gid=g.id
        ]]>
    </sql>

    <select id="all" resultMap="map1">
        <include refid="select1" />
    </select>

    <select id="filter" resultMap="map1">
        <include refid="select1" />
        <where>
            <if test="usage != null">and a.usage=#{usage}</if>
        </where>
    </select>

    <select id="select" parameterType="int" resultMap="map1">
        <include refid="select2" />
        <where>
            <if test="_parameter != null">a.id=#{id}</if>
        </where>
    </select>

    <select id="insert" resultType="long"><![CDATA[
        insert into place(
            code, label, description,
            priority, flags, state, version,
            uid, gid, mode, acl, 
            parent, depth,
            usage, vip, vip_org,
            dx, dy, dz
        ) values(
            #{codeName},#{label},#{description},
            #{priority}, #{flags}, #{state}, #{version},
            #{owner.id}, #{ownerGroup.id}, #{accessMode}, #{acl},
            #{parent.id}, #{depth},
            #{usage}, #{party.id}, #{partyOrg.id},
            #{bbox.dx}, #{bbox.dy}, #{bbox.dz}
        ) returning id
    ]]></select>

    <update id="update">
        <!-- delete from contact... -->
        update place
        <set>
            <include refid="co.setUSA" />
            <if test="parent != null">parent = #{parent.id},</if>
            depth = #{depth},
            <!-- contact... -->
            usage = #{usage},
            <if test="party != null">vip = #{party.id},</if>
            <if test="partyOrg != null">vip_org = #{partyOrg.id},</if>
            <if test="bbox != null">
                dx = #{bbox.dx},
                dy = #{bbox.dy},
                dz = #{bbox.dz},
            </if>
        </set>
        <where>
            <if test="id != null">and id=#{id}</if>
        </where>
    </update>

    <delete id="delete">
        delete from place where id=#{id}
    </delete>

    <select id="count" resultType="hashmap">
        select * from v_place_n
    </select>

</mapper>
