Source: sdu-optcracks
Section: misc
Priority: extra
Maintainer: 谢继雷 (99计算机) <xjl@99jsj.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.8.4
Homepage: http://sdu.secca-project.com/sdu-optcracks

Package: sdu-optcracks
Architecture: all
Depends: configutils
Description: Optional cracks add-ons.
