body {
    font-family: Verdana, Arial, sans-serif;
}

label {
    font-family: Verdana, Arial, sans-serif;
}

.form-editing {
    background: #eeeeee;
}

.ui-widget,.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
    font-family: Verdana, Arial, sans-serif;
}

.ui-menubar-item-label,.ui-menubar-item-label-hassubmenu,.ui-menubar-item-label-selected,.ui-menubar-item-label-hassubmenu-selected
    {
    font-family: Verdana, Arial, sans-serif;
}

.ui-dialog-form {
    max-height: 40em;
    margin: 1em;
}

.logo-container {
    border-left: solid #cccccc 5px;
    border-right: solid #cccccc 5px;
    border-top: solid #cccccc 3px;
    border-bottom: solid #cccccc 3px;
    position: fixed;
    z-index: 100;
    bottom: 10px;
    right: 10px;
}

.logo-frame {
    width: 150px;
    background: white;
}

.logo-image {
    width: 120px;
}

.site-page-footer {
    clear: both;
    border-top: solid 1px #808080;
    border-bottom: solid 1px #eeeeee;
    background: #eeeeee;
}

.site-page-footer-sep {
    height: 5px;
    background: #aaaaaa;
    border-top: solid 1px #808080;
}

.text-invert {
    color: #eeeeee;
    background: black;
}

.text-invert :link,.invert :visited {
    color: #cccccc;
}

.field-label {
    width: 6em;
    text-align: right;
}

.field-content {

}