body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
}

label {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
}

.ui-widget,.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
}

.ui-menubar-item-label,.ui-menubar-item-label-hassubmenu,.ui-menubar-item-label-selected,.ui-menubar-item-label-hassubmenu-selected
    {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13 px;
}

.partColumnTitle {
    width:150px;
    text-align: right;
}

.partColumnValue {
}

.alignTop {
    vertical-align:top;
}

.detail_col_title {
    width:80px;
    text-align: right;
}

.detail_col_value {
}

.col_left {
    width: 350px;
}

.table_inner_line {
    border: solid 1px #ccc;
    text-align: center;
}

.ftd{
    vertical-align:top;
    width:25%;
}
.std{
    vertical-align:top;
    width:75%;
}

.material_dialog_label {
    width:100px;
}

.material_dialog_txt {

}
