body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
}

label {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
}

.ui-widget,.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
}

.ui-menubar-item-label,.ui-menubar-item-label-hassubmenu,.ui-menubar-item-label-selected,.ui-menubar-item-label-hassubmenu-selected
    {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13 px;
}
