body {
    font-family: Verdana, Arial, sans-serif;
    background: #abf;
}

label {
    font-family: Verdana, Arial, sans-serif;
}

.background {
    position: fixed;
    z-index: -1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-widget,.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
    font-family: Verdana, Arial, sans-serif;
}

.ui-menubar-item-label,.ui-menubar-item-label-hassubmenu,.ui-menubar-item-label-selected,.ui-menubar-item-label-hassubmenu-selected
    {
    font-family: Verdana, Arial, sans-serif;
}

.ui-dialog-form {
    max-height: 35em;
    margin: 1em;
    overflow: auto;
}

.ui-dialog-data {
    max-width: 80em;
    max-height: 30em;
    overflow: auto;
}

.ui-dialog-system {
    background: #eeeeee;
}

.logo-container {
    border-left: solid #cccccc 5px;
    border-right: solid #cccccc 5px;
    border-top: solid #cccccc 3px;
    border-bottom: solid #cccccc 3px;
    position: fixed;
    z-index: 100;
    bottom: 10px;
    right: 10px;
}

.logo-frame {
    width: 150px;
    background: white;
}

.logo-image {
    width: 120px;
}

.site-page-footer {
    clear: both;
    border-top: solid 1px #808080;
    border-bottom: solid 1px #eeeeee;
    background: #eeeeee;
}

.site-page-footer-sep {
    height: 5px;
    background: #aaaaaa;
    border-top: solid 1px #808080;
}

.text-invert {
    color: #eeeeee;
    background: black;
}

.text-invert :link,.invert :visited {
    color: #cccccc;
}

.field-label {
    width: 6em;
    text-align: right;
}

.field-label-long {
    width: 10em;
    text-align: right;
}

.field-content {

}

.ui-datatable-data td {
    white-space: nowrap;
}

.ui-datatable-data td.f-wrappable {
    white-space: normal;
    word-wrap: break-word;
}

.ui-treetable-data td {
    white-space: nowrap;
}

.ui-treetable-data td.f-wrappable {
    white-space: normal;
    word-wrap: break-word;
}

.ui-sysmsg {
    color: #ffcc00;
    font-size: large;
}

.ui-toolbox {
    position: absolute;
    top: 3px;
    right: 3px;
    color: gray;
}

.print-header {
    margin-bottom: 1em;
}

.print h1 {
    display: inline;
    padding: 0 2em;
    border-bottom: double 4px blue;
}

.print .ui-inputfield {
    border-top: none;
    border-left: none;
    border-right: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.print .ui-widget-content {
    border: none;
}

.form-editing {

}

.locker-active {

}

.locker-invert {
    display: none;
}

.locker-active .locker-bypass {
    display: inherit !important;
}

.locker-active .locker-invert {
    display: inherit !important;
}

.locker-active button:enabled {
    display: none;
}

.locker-active .icon-button:not(.ui-state-disabled) {
    display: none;
}

.f-left {
    text-align: left;
}

.f-right {
    text-align: right;
}

.f-top {
    vertical-align: top;
}

.f-bottom {
    vertical-align: bottom;
}

.f-center {
    margin-left: auto;
    margin-right: auto;
}

.f-vcenter {
    margin-top: auto;
    margin-bottom: auto;
}

.f-medium {
    font-size: medium;
}

.f-large {
    font-size: large;
}

.f-medium .ui-button-text {
    font-size: medium;
}

.f-large .ui-button-text {
    font-size: large;
}

.f-red {
    color: red;
}

.f-bold {
    font-weight: bold;
}

.f-warning-bg {
    background: #fee;
}

.f-sep-right {
    border-right: solid 1px lightblue;
}

.f-pad30 {
    padding: 0.3em;
}

.f-pad50 {
    padding: 0.5em;
}

.f-pad100 {
    padding: 1em;
}

.f-height100  {
    height: 100%;
}

.annotation {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #ffe;
}

.e-link {
    color: #44f;
    cursor: pointer;
    padding-left: 16px;
    background-image: url('https://st1.cdn.bee32.com:444/style/default/icons/obj16/inst_ptr.gif');
    background-repeat: no-repeat;
    background-position-y: 1px;
}
