Source: sdu-postgresql
Section: database
Priority: optional
Maintainer: 谢继雷 (99计算机) <xjl@99jsj.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://sdu.secca-project.com/sdu-postgresql

Package: sdu-postgresql
Architecture: all
Depends:
    coolutils,
    postgresql
        | postgresql-8.4
        | postgresql-9.1
        | postgresql-9.3,
    postgresql-plsh
        | postgresql-8.4-plsh
        | postgresql-9.1-plsh
        | postgresql-9.3-plsh,
    sdu-pgutils,
    sdu-phppgadmin,
    vim-enh
Recommends:
    pgadmin3,
    postgresql-plperl,
    postgresql-plpython
Description: PostgreSQL SDU with phppgadmin support.
