Source: sdu-postgresql
Section: database
Priority: optional
Maintainer: 谢继雷 (99计算机) <xjl@99jsj.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://sdu.secca-project.com/sdu-postgresql

Package: sdu-postgresql
Architecture: all
Depends:
    coolutils,
    postgresql-latest,
    sdu-pgutils,
    sdu-phppgadmin,
    vim-enh
Recommends:
    pgadmin3
Description: PostgreSQL SDU with phppgadmin support.
