Source: sdu-opt-glassfish3
Section: devel
Priority: optional
Maintainer: 谢继雷 (99计算机) <xjl@99jsj.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://sdu.secca-project.com/sdu-opt-glassfish3

Package: sdu-opt-glassfish3
Architecture: all
Depends: xjl-coolwget, unzip, sdu-cred-appserv, sdu-opt-jdk6
Description: Glassfish v3 for SDU.
