Source: sdu-site-seccam2
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <sdu-bugs@secca-project.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://sdc.secca-project.com/sdu-site-seccam2

Package: sdu-site-seccam2
Architecture: all
Depends: ${misc:Depends}, sdu-archiva
Description: Stack maven2 repository over Archiva.
